<ion-header [translucent]="true">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <ion-toolbar>
    <ion-title>
      Personaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="info_tarjeta" class="card align-self-center"
    style="width: 18rem; margin: 0 auto;">
    <img id="imagen_personaje" [src]="citaPersonaje.image" class="card-img-top"
      alt="Personaje de los Simpson" width="250px" height="400px">
    <div class="card-body">
      <span id="nombre_personaje" class="badge bg-primary card-title">{{citaPersonaje.character}}</span>
      <p id="cita_personaje" class="card-text">"{{citaPersonaje.quote}}"</p>
    </div>
  </div>
</ion-content>
