<ion-header [translucent]="true">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
  <ion-toolbar>
    <ion-title>
      Citas de Personajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- class="table table-striped table-hover" -->
  <ion-grid *ngIf="modoTabla">
    <ion-row>
      <ion-col>#</ion-col>
      <ion-col>Personaje</ion-col>
      <ion-col>Cita</ion-col>
    </ion-row>
    <ion-row *ngFor="let cita of listaCitas; let i = index" (click)="alSeleccionarCita(cita)">
      <ion-col scope="row">{{i + 1}}</ion-col>
      <ion-col><ion-img [src]=cita.image height="100px" weight="auto"></ion-img></ion-col>
      <ion-col>"{{cita.quote}}"</ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="!modoTabla">
    <ion-button (click)="cambiarModo()">Mostrar tabla</ion-button>
    <app-personaje-detalle [cita]="citaActual"></app-personaje-detalle>
  </ion-list>
</ion-content>
