<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Los Simpson
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Los Simpson</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3 class="ion-text-center">¿Qué desea hacer?</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" class="ion-text-center" (click)="irAEnlace('/tabs/tab2')">
          Mostrar personajes
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" class="ion-text-center">
          Mostrar citas de personajes
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
